body{
    background-image: radial-gradient(red,blue);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: italic;
}